.hear{
    background-color: chocolate;
}
.jumbotron{
    background-color: mediumorchid;
    color: white;
}
.footer{
    background-color: plum;
}
.hist{
    margin-top: 50px;
    margin-bottom: 70px;
}